@*
  Mirror component for ClassListPage.razor (/classes).
  Fully static table matching production page.
*@

<h3>Class List</h3>
<table>
    <thead>
        <tr>
            <th>Class</th>
            <th>Year Group</th>
            <th>Students</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/classes/1">Class One</a></td>
            <td>Year 7</td>
            <td>2</td>
        </tr>
        <tr>
            <td><a href="/classes/2">Class Two</a></td>
            <td>Year 8</td>
            <td>1</td>
        </tr>
    </tbody>
</table>
