@page "/global-settings/map-charts/map"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.MapCharts.Map

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
