@page "/global-settings/table-forms/basic-table"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.TableForms.BasicTable

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
