Table	Create Table
auditlog	CREATE TABLE `auditlog` (\n  `AuditId` int(11) NOT NULL,\n  `UserId` int(11) NOT NULL,\n  `Action` longtext NOT NULL,\n  `Timestamp` datetime(6) NOT NULL,\n  `UserId1` int(11) NOT NULL,\n  PRIMARY KEY (`AuditId`),\n  KEY `IX_AuditLog_UserId1` (`UserId1`),\n  CONSTRAINT `FK_AuditLog_Users_UserId1` FOREIGN KEY (`UserId1`) REFERENCES `users` (`Id`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
