Table	Create Table
classes	CREATE TABLE `classes` (\n  `Id` int(11) NOT NULL AUTO_INCREMENT,\n  `Name` varchar(255) NOT NULL,\n  `Code` varchar(100) NOT NULL,\n  `Description` varchar(255) DEFAULT NULL,\n  `CreatedAt` datetime NOT NULL,\n  `UpdatedAt` datetime NOT NULL,\n  PRIMARY KEY (`Id`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
