Table	Create Table
classmember	CREATE TABLE `classmember` (\n  `ClassId` int(11) NOT NULL,\n  `StaffId` int(11) NOT NULL,\n  `RoleInClass` varchar(50) NOT NULL,\n  PRIMARY KEY (`ClassId`,`StaffId`),\n  KEY `StaffId` (`StaffId`),\n  CONSTRAINT `classmember_ibfk_1` FOREIGN KEY (`ClassId`) REFERENCES `classes` (`Id`),\n  CONSTRAINT `classmember_ibfk_2` FOREIGN KEY (`StaffId`) REFERENCES `staff` (`Id`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
