Table	Create Table
users	CREATE TABLE `users` (\n  `Id` int(11) NOT NULL,\n  `Username` varchar(100) NOT NULL,\n  `Email` varchar(255) NOT NULL,\n  `EmailVerifiedAt` datetime DEFAULT NULL,\n  `PasswordHash` varchar(255) NOT NULL,\n  `StaffId` int(11) DEFAULT NULL,\n  `Status` varchar(50) NOT NULL,\n  `IsAdmin` tinyint(1) NOT NULL,\n  `LastLoginAt` datetime DEFAULT NULL,\n  `LastLoginIp` varchar(50) DEFAULT NULL,\n  `LoginCount` int(11) NOT NULL,\n  `IsTwoFactorEnabled` tinyint(1) NOT NULL,\n  `TwoFactorSecret` varchar(255) DEFAULT NULL,\n  `BackupCodes` varchar(500) DEFAULT NULL,\n  `RememberToken` varchar(255) DEFAULT NULL,\n  `Timezone` varchar(50) NOT NULL,\n  `LanguageCode` varchar(10) NOT NULL,\n  `CreatedAt` datetime NOT NULL,\n  `UpdatedAt` datetime NOT NULL,\n  PRIMARY KEY (`Id`),\n  KEY `StaffId` (`StaffId`),\n  CONSTRAINT `users_ibfk_1` FOREIGN KEY (`StaffId`) REFERENCES `staff` (`Id`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
