@page "/global-settings/advance-ui/offcanvas-toggle"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.AdvanceUI.OffcanvasToggle

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
