@page "/globalsettings/advance-ui/block-ui"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.AdvanceUI.BlockUI

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
