@page "/globalsettings/advance-ui/tree-view"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.AdvanceUI.TreeView

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
