@page "/global-settings/advance-ui/rating"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.AdvanceUI.Rating

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
