@page "/globalsettings/advance-ui/count-up"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.AdvanceUI.CountUp

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
