@page "/global-settings/advance-ui/scrolly"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.AdvanceUI.Scrolly

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
