@page "/globalsettings/ui-kits/helper-classes"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.UIKits.HelperClasses

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
