@page "/globalsettings/ui-kits/badges"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.UIKits.Badges

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
