@*
    Mirror component for StudentsPage.razor (/students).
    Injects StudentsViewModel, renders full-view student list.
*@
@inject StudentsViewModel ViewModel

<h3>Students</h3>

<button @onclick="Load">Load Students</button>

<ul>
    @foreach (var s in ViewModel.Students)
    {
        <li>
            @s.FirstName @s.LastName (@s.YearGroupName)
        </li>
    }
</ul>

@code {
    private async Task Load() => await ViewModel.LoadAsync();
}
