@page "/globalsettings/advance-ui/scrollbar"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.AdvanceUI.Scrollbar

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
