@page "/globalsettings/icons/fontawesome"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.Icons.Fontawesome

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
