@page "/global-settings/ui-kits/dropdown"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.UIKits.Dropdown

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
