@page "/globalsettings/advance-ui/modals"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.AdvanceUI.Modals

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
