@page "/global-settings/advance-ui/sweat-alert"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.AdvanceUI.SweatAlert

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
