@page "/global-settings/table-forms/bordered-table"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.TableForms.BorderedTable

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
