@page "/globalsettings/ui-kits/notifications"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.UIKits.Notifications

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
