@page "/global-settings/ui-kits/progress"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.UIKits.Progress

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
