@page "/globalsettings/map-charts/charts"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.MapCharts.Charts

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
