@page "/global-settings/ui-kits/divider"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.UIKits.Divider

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
