@page "/globalsettings/ui-kits/cheatsheet"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.UIKits.Cheatsheet

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
