@page "/globalsettings/ui-kits/grid"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.UIKits.Grid

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
