@page "/globalsettings/ui-kits/lists"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.UIKits.Lists

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
