@page "/global-settings/advance-ui/video-embed"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.AdvanceUI.VideoEmbed

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
