@page "/global-settings/advance-ui/tour"
@layout AbsenceApp.Client.Framework.Layouts.GlobalSettingsLayout
@namespace AbsenceApp.Client.Components.Pages.GlobalSettings.AdvanceUI.Tour

<div class="kbp-scaffold">
    <p>Under construction</p>
</div>
